@model TicketManagementSystem.Core.ViewModels.AddTicketViewModel
@{
    ViewData["Title"] = "Add Ticket";
}

    <h1>Skapa Ärende</h1>

@*<h4>Ticket</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTicket" enctype="multipart/form-data" method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Problem" class="control-label"></label>
                <textarea asp-for="Ticket.Problem" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Ticket.Problem" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Developer") || User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="CustomerCompany" class="control-label">Kunder</label>
                    <select id="companyDropDownList" asp-for="CustomerCompany" class="form-control" asp-items="ViewBag.Companies" onchange="FillCustomers()" required>
                        <option value="">Välj Kund</option>
                    </select>
                    <span asp-validation-for="CustomerCompany" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.CreatedBy" class="control-label">Användare</label>
                    <select id="customerDropDownList" asp-for="Ticket.CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy" onchange="FillProjects()" required>
                        <option value="">Välj Användare</option>
                    </select>
                    <span asp-validation-for="Ticket.CreatedBy" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Ticket.ProjectId" class="control-label"></label>
                <select id="projectDropDownList" asp-for="Ticket.ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                    <option value="">Välj Lösning</option>
                </select>
                <span asp-validation-for="Ticket.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CustomerPriority" class="control-label">Prioritet</label>
                <select asp-for="Ticket.CustomerPriority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option value="">Välj Prioritet</option>
                </select>
                <span asp-validation-for="Ticket.CustomerPriority" class="text-danger"></span>
            </div>

            <hr />
            @for (int i = 0; i < 3; i++)
            {
                <div class="form-group row">
                    <div class="col-md-3 col-form-label">
                        @Html.Label("Bifoga Fil" + (i + 1).ToString())
                    </div>
                    @*<label asp-for="File" class="col-md-2 col-form-label"></label>*@
                    <div class="col-md-9">
                        <div class="custom-file">
                            <input asp-for="File" class="form-control custom-file-input" id="file" lang="se">
                            <label class="custom-file-label" data-label="Bläddra">Välj FIL...</label>
                        </div>
                    </div>
                </div>
            }
            <hr />
            @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
            {
                <div class="form-group row">
                    <div class="col-sm-3 small">Meddela Användaren</div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="NotifyCustomer" id="notifyCustomer" />
                        </div>
                    </div>
                </div>
            }
            <div class="form-group" align="center" style="padding-top: 10px">
                @if (User.IsInRole("Customer"))
                {
                    <input name="submit" type="submit" id="submit" value="Spara som Utkast" class="btn btn-primary" />
                }
                <input name="submit" type="submit" id="submit" value="Skicka in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Developer"))
{
    <div>
        <a asp-action="Index">Tillbaka till listan</a>
    </div>
}

@if (User.IsInRole("Customer"))
{
    <form>
        <a asp-action="Index">Tillbaka till Mina Ärende listan</a> |
        <a asp-action="IndexCompanyTickets">Tillbaka till Kunder Ärende listan </a>
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
