@model TicketManagementSystem.Core.Models.Project

@{
    ViewData["Title"] = "Add project";
}

    <h1>Skapa Lösning</h1>

@*<h4>Project</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyName">
                    <option value="">Välj Kund</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SystemsUsed" class="control-label"></label>
                <input asp-for="SystemsUsed" class="form-control" />
                <span asp-validation-for="SystemsUsed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Developer1" class="control-label"></label>
                <select asp-for="Developer1" class="form-control" asp-items="ViewBag.Developer1">
                    <option value="">Välj Utvecklare1</option>
                    @*<option value="" disabled="disabled" hidden selected>Select Developer1</option>*@
                </select>
                <span asp-validation-for="Developer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer2" class="control-label"></label>
                <select asp-for="Developer2" class="form-control" asp-items="ViewBag.Developer2">
                    <option value="">Välj Utvecklare2</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, 5, 1, new { @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
